@import "tailwindcss";

/* :root {
  --font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --color-gold: #D4AF37;
  --color-purple: #6A0DAD;
  --color-light: #fdfcf9;
  --color-dark: #1e1e1e;

  font-family: var(--font-primary);
  line-height: 1.6;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  min-height: 100vh;
  overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6 {
  color: var(--color-purple);
  margin-bottom: 0.5rem;
}
 */
